<nav class="app-navbar">
    <a class="logo" href="/#/cities">
        <img src="media/img/brand-white.png" alt="brand">
    </a>
    <div class="navbar-items navbar-default">
        <ul class="navbar-nav top-menu">
            <li class="active">
                <a class="top-menu-a">
                    Forecast
                    <span class=""></span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav top-menu top-user-info">
            <li class="hidden-xs user-info">
                <select class="form-control">
                    <option value="">Santa Catarina</option>
                </select>
            </li>
            <li class="hidden-xs">
                <div class="custom-search">
                    <input class="form-control" type="text" data-action="grow" placeholder="Cidade">
                    <div class="input-search">
                        <ul>
                            <li>
                                Santa Rita de Pindamonhangaba do Sul
                            </li>
                            <li>
                                item 2
                            </li>
                            <li>
                                item 3
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="hidden-xs user-info">
                <button type="button" class="btn btn-search-icon"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </li>
            <li class="active hidden-xs user-info">
                <a class="top-menu-a">
                    |
                </a>
            </li>
            <li class="hidden-xs user-info">
                <button>
                    <img src="media/img/user.jpg">
                </button>
            </li>
            <li class="visible-xs">

            </li>
        </ul>
    </div>
</nav>
<div class="app-details">
    <div class="body-padding">
        <div class="container-block pd-lg round-full visible-xs">
            <form ng-submit="addCity(city)">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <select class="form-control" name="state" id="state" ng-model="state"
                                    ng-options="item.name for item in states track by item.id"
                                    ng-change="setCity(state)">
                                <option value="">Estado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="custom-search mobile">
                            <input class="form-control" type="text" data-action="grow" placeholder="Cidade">
                            <div class="input-search" style="display: none;">
                                <ul>
                                    <li>
                                        Santa Rita de Pindamonhangaba do Sul
                                    </li>
                                    <li>
                                        item 2
                                    </li>
                                    <li>
                                        item 3
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-primary left mt-15">Buscar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
        <div class="container-block pd-lg round-full">
            <div class="border-bottom">
                <h1 class="hidden-xs">{{city.name}}, {{city.state.initials | uppercase}}</h1>
                <h4 class="visible-xs">{{city.name}}, {{city.state.initials | uppercase}}</h4>
            </div>

            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <!--<div class="border-bottom">-->
            <!--<div class="main-icon">-->
            <!--<img ng-src="{{'media/img/' + city.weather.url}}" alt="sun">-->
            <!--</div>-->
            <!--<ul>-->
            <!--<li>-->
            <!--Temperatura: <span-->
            <!--class="weather-temp font-current current">{{city.temperature}}°</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--Máxima: <span class="weather-temp font-max current"> {{city.max}}°</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--Mínima: <span class="weather-temp font-min current"> {{city.min}}°</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--Umidade relativa do ar: <span class="weather-temp font-current current"> {{city.umidity}}%</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--Vento máximo: <span class="weather-temp font-wind current"> {{city.wind}} </span>Km/h-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12 col-sm-12 mt-20 mb-10 next-day-title">
                    <h3 class="mb-15">Previsão para os próximos dias:</h3>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div ng-repeat="item in city.nextDays" class="next-day-block col-md-2 col-sm-2 col-xs-6">
                        <div class="week-day">
                            {{item.day}}
                        </div>
                        <div class="icon-weather">
                            <img ng-src="{{'media/img/' + item.weather.url}}" alt="sun">
                        </div>
                        <!--<div class="weather-temp font-max">-->
                        <!--{{item.max}}°-->
                        <!--</div>-->
                        <div class="weather-temp font-current">
                            {{item.max}}°
                        </div>
                        <ul class="mt-50">
                            <li>
                                Máx: <span class="weather-temp font-max current"> {{item.max}}°</span>
                            </li>
                            <li>
                                Mín: <span class="weather-temp font-min current"> {{item.min}}°</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="container-block pd-md round-full">
                    <div class="mt-20 mb-10 next-day-title">
                        <h3 class="text-center">Máxima e mínima:</h3>
                        <ul class="variation">
                            <li class="mb-30">
                                Máx: <span class="weather-temp font-max current"> {{city.max}}°</span><br>
                                <span class="weather-day-label">quinta-feira</span>
                            </li>
                            <li class="mb-30">
                                Mín: <span class="weather-temp font-min current"> {{city.min}}°</span><br>
                                <span class="weather-day-label">sabado</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="container-block pd-md round-full">
                    <div class="mt-20 mb-10 next-day-title">
                        <h3 class="text-center mb-15">Final de semana na praia?</h3>
                        <div class="icon-beach">
                            <img ng-src="{{'media/img/' + city.weather.url}}" alt="sun">
                        </div>
                        <ul class="blocks">
                            <li>
                                <span class="weather-temp font-current current"> {{city.max}}°</span>
                            </li>
                            <li>
                                <span class="weather-temp font-max current">Recomendado!</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="container-block pd-md round-full">
                    <div class="mt-20 mb-15 next-day-title">
                        <h3 class="text-center mb-10">Variação no período:</h3>
                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>