@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
.box-loader {
  width: 200px;
  height: 50px;
  background: white;
  position: fixed;
  top: -55px;
  left: 0px;
  z-index: 1100;
  right: 0px;
  margin: auto;
  border: 1px solid #676767;
  color: #676767;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;

  @include border-radius (5px);
  @include box-shadow (0 0 5px #000);

  &.show {
    top: 5px;
  }

}